body {
    max-width: 800px;
    margin: auto;
}

div.panel {
    margin: 16px;
    overflow: hidden;
}

p.box {
    margin: 8px;
}

#break-list img {
    width: 72px;
    border-radius: 8px;
    margin-right: 8px;
}

#artifact img {
    width: 100%;
}

.achievement table {
    border-collapse: collapse;
    border: #E0D6CB 2px solid;
    margin: 8px;
    width: calc(100% - 16px);
    background: #f8f4eb;
}

.achievement-icon {
    width: 92px;
}

.achievement-icon img {
    width: 100%;
}

strong.achievement-title {
    font-size: 16px;
}

.achievement-description {
    color: #baa48e;
}

strong.achievement-title, .achievement-description {
    display: block;
    margin: 4px;
}

strong.achievement-title.achievement-long-margin {
    margin-top: 10px;
}

.achievement-description.achievement-long-margin {
    margin-top: 6px;
}

.achievement-action {
    margin: 4px 16px 4px 4px;
    color: #888;
    font-size: 12px;
    display: inline-block;
}

.achievement-action.text-success {
    color: #9fe383;
}

.hidden-by-config {
    display: none;
}

#edit-config-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1024;
    background-color: #fff;
}

#config-achievement .btn {
    outline: none !important;
}

span.config-break-item, span.config-achievement-action, span.config-achievement-count {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 4px 10px;
    margin: 0 4px 4px 0;
}

span.config-break-item, span.config-achievement-action {
    cursor: pointer;
}

span.config-achievement-count {
    font-weight: bold;
}

span.config-break-item span.icon-ok, span.config-achievement-action span.icon-ok, span.config-achievement-count span.icon-ok {
    display: none;
}

span.config-break-item.selected, span.config-achievement-action.finished, span.config-achievement-count.finished {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-weight: bold;
}

span.config-break-item.selected span.icon-ok, span.config-achievement-action.finished span.icon-ok, span.config-achievement-count.finished span.icon-ok {
    display: inline;
}

#config-achievement, .config-achievement-group {
    overflow: hidden;
}

.config-achievement-group {
    margin-bottom: 20px;
    margin-left: 20px;
}

#config-achievement small {
    margin-left: 8px;
}

.slide-btn, span.config-achievement-count span.count-btns {
    color: #337ab7;
    cursor: pointer;
}

.config-achievement-title .title {
    color: #d7a11a;
    font-weight: bold;
}